<h1><%= @month %></h1>

<!-- <% @recentPosts = Post.find(:all, :order => "created_at desc", :limit => 4) %> --> 
<% @posts_by_month.each do |post| %>
  
  	<!-- 
    <td><%= post.name %></td>
    <td><%= post.title %></td>
    <td><%= post.content %></td>
    <td><%= link_to 'Show', post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %></td>
	-->
  <h3><%= link_to post.title, post %></h3>
  <% if signed_in? %>
  <p>
  	<%= link_to 'Show', post %>
    <%= link_to 'Edit', edit_post_path(post) %>
    <%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %>
  </p>
  <% end %>
  <p>Posted on <%= post.created_at.strftime("%B %d, %Y") %> by <%= post.name %></p>
  <p>
  	<%= truncate_words(post.content).html_safe %>
	<%= link_to "[more]", post%>
  </p>
  <p>
	<% if !post.comment_count.nil? %>
	Comments(<%= post.comment_count%>)
	<% else %>
	No Comments
	<% end %>
  </p>
<% end %>

<% if signed_in? %>
<%= link_to 'New Post', new_post_path %>
<% end %>
<%= will_paginate @posts_by_month %>
