<p class="notice">
    <%= notice %>
</p>
<section>
    <article class="blogPost">
        <header>
            <table>
                <tr>
                    <td class='twshare left socialTableCell'>
                        <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="funonrails">Tweet</a>
                        <script type="text/javascript" src="http://platform.twitter.com/widgets.js">
                        </script>
                    </td>
					<td class="socialTableCell">
                        <script type="text/javascript" src="http://platform.linkedin.com/in.js">
                        </script>
                        <script type="in/share">
                        </script>
                    </td>
                    <td class="socialTableCell">
                        <script src="http://connect.facebook.net/en_US/all.js#xfbml=1">
                        </script>
                        <fb:like href="" layout="button_count" show_faces="false" width="450" font="">
                        </fb:like>
                    </td>
                    
                </tr>
            </table>
            <h2><%= @post.title %></h2>
            <p>
                Posted on <%= @post.created_at.strftime("%B %d, %Y") %>by <%= @post.name %>
            </p>
        </header>
        <p>
            <div>
                <%= @post.content.html_safe %>
            </div>
        </p>
    </article>
</section>
<section id="comments">
    <h3>Comments(<%= @post.comment_count %>)</h3>
    <%= render :partial => "comments/comment",
    :collection => @post.comments %>
</section>
<h2>Add a comment:</h2>
<%= render "comments/form" %>
<br/>
<% if signed_in? %>
<%= link_to 'Edit Post', edit_post_path(@post) %> |<%= link_to 'Back to Posts', posts_path %> |<% end %>