<header>
    <h1>Syamantak Mukhopadhyay</h1>
    <nav>
        <ul>
            <li class="selected">
                <%= link_to "Home", root_path %>
            </li>
            <li>
                <%= link_to "Archive", archive_path %>
            </li>       
            
            <li class="subscribe">
                <%= link_to "Subscribe via. RSS", posts_url(:rss) %>
            </li>
			<li>
                <%= link_to "About Me", "http://syamantakm.com/" %>
            </li>
            <% if signed_in? %>
            <li>
                <%= link_to "Sign out", signout_path, :method => :delete %>
            </li>
            <% else %>
            <li>
                <%= link_to "Sign in(Admin)", signin_path %>
            </li>
            <% end %>
        </ul>
    </nav>
    <section id="intro">
        <header>
            <h2>Future of World Wide Web</h2>
        </header>
        <p>
            "One of the major obstacles to this has been the fact that most 
			information on the Web is designed for human consumption, and 
			even if it was derived from a database with well defined meanings 
			(in at least some terms) for its columns, that the structure of 
			the data is not evident to a robot browsing the web." - Tim Berners-Lee 
        </p>
        <!--<%= link_to logo, root_path %>-->
    </section>
</header>
