<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" version="XHTML+RDFa 1.0" dir="ltr"
  xmlns:tag="http://www.holygoat.co.uk/owl/redwood/0.1/tags/"
  xmlns:content="http://purl.org/rss/1.0/modules/content/"
  xmlns:dc="http://purl.org/dc/terms/"
  xmlns:foaf="http://xmlns.com/foaf/0.1/"
  xmlns:og="http://ogp.me/ns#"
  xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
  xmlns:sioc="http://rdfs.org/sioc/ns#"
  xmlns:sioct="http://rdfs.org/sioc/types#"
  xmlns:skos="http://www.w3.org/2004/02/skos/core#"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema#"
  xmlns:owl="http://www.w3.org/2002/07/owl#"
  xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
  xmlns:rss="http://purl.org/rss/1.0/" 
  xmlns:v="http://rdf.data-vocabulary.org/#">
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>	
  </head>
  <body>
    <%= render 'layouts/header' %>
	<div id="content">
		<div id="mainContent">
						
		<%= yield %>
								
		</div>
		<div id="aside">
		<%= render 'layouts/sidebar' %>
		</div>
	</div>
	 <%= render 'layouts/footer' %>
	 <div>
	 <%= debug(params) if Rails.env.development? %>
	 </div>
  </body>
</html>